html, body { min-height: 100%; margin:0; }
body {
  background-image: url("../imgs/fondoupscaleHD.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed; /* no siempre funciona en móviles */
}

  
h1 {
  color: #700c0c;
}

/* CREO QUE ESTO SE PUEDE BORRAR TODO YN O PASA NDA */
.centered-container {
  display: flex;
  flex-direction: column;     /* Stack children vertically */
  justify-content: center;    /* Center vertically */
  align-items: center;        /* Center horizontally */
  background-color: #f9f9f9;
  padding: 20px;

  min-height: 100%; margin:0; 
  background-image: url("../imgs/fondo2.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed; /* no siempre funciona en móviles */

}

.form-wrapper {
  width: 400px;               /* Control form width */
}

.search-container {
  justify-content: center;
}

.correct {
  background-color: #45f395 !important;
  opacity: 0.8;
}

.incorrect {
  background-color: #f36445 !important;
  opacity: 0.8;
}


table {
  border-collapse: separate !important;   /* separa las celdas */
  border-spacing: 8px !important; /* espacio entre celdas */
  width: 100% !important;
}

th, td {
  background-color: rgba(250, 250, 250, 0.8) !important; /* color con transparencia */
  border-radius: 12px !important;                        /* bordes redondeados */
  padding: 12px !important;
  text-align: center !important;
  font-weight: bold !important;
  line-height: 1.4em !important;
  vertical-align: middle !important;
  border: 2px solid black !important;                    /* borde negro como en el ejemplo */
}

th {
  background-color: rgba(0, 0, 0, 0.8) !important; /* encabezado distinto */
  color: white !important;
}

td img {
  max-width: 60px;
  border-radius: 5px;
}
