{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Digimon Wordle</title>

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" defer></script>
  <script src="{% static 'js/script.js' %}" defer></script>
</head>
<body>

  <header class="bg-danger text-white text-center p-4">
    <h1>Digimon Wordle</h1>
  </header>

  <div class="centered-container">
    <div class="form-wrapper">
      <form class="d-flex align-items-center" role="search">
        <input class="form-control me-2" type="search" placeholder="Enter your guess" aria-label="Search">
        <button class="btn btn-danger" type="submit">Submit</button>
      </form>
      <!-- Input and list -->
      <input type="text" id="digimon-search" class="form-control" placeholder="Search Digimon">
      <ul id="results" class="list-group mt-3"></ul>

      <!-- Info display  NOT USING PERO ES APRA MOSTRAR ELIFNO SI ANDUVIERA LA APi-->
      <pre id="digimon-info" class="mt-4 bg-light p-3 border rounded" style="white-space: pre-wrap;"></pre>

    </div>
  
    <div class="info-box mt-4">
      Guesses

      <table class="table table-bordered table-striped" style="width: 100%; max-width: 600px; margin: 20px auto;">
        <thead class="table-dark">
          <tr>
            <th>Digimon</th>
            <th>Level</th>
            <th>Attribute</th>
            <th>Type</th>
            <th>Prior Evolution</th>
            <th>Next Evolution</th>
            <th>Release Date</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><img style="width: 150px;" src="https://digi-api.com/images/digimon/w/Gabumon.png" alt="Dinosaur" /> <br> Gabumon</td>
            <td>Rookie/Child</td>
            <td>Data</td>
            <td>Reptile</td>
            <td>Yes</td>
            <td>No</td>
            <td>1997</td>
          </tr>
          <tr>
            <td><img style="width: 150px;" src="https://digi-api.com/images/digimon/w/Patamon.png" alt="patamon" /> <br>Patamon</td>
            <td>Rookie/Child</td>
            <td>Data</td>
            <td>Mammal</td>
            <td>No</td>
            <td>No</td>
            <td>1998</td>
          </tr>
        </tbody>
      </table>
      
    </div>
  </div>


  </div>




 
</body>
</html>
